<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <style>
        * {
            box-sizing: border-box;
        }

        .box {
            background-color: slateblue;
            width: 300px;
            height: 300px;
            padding: 20px;
            border: 10px solid #000;
        }
    </style>
    <body>
        <div class="box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora,
            id.
        </div>
    </body>
</html>
