<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="card">
            <!-- flex -->
            <div class="left">
                <img src="" alt="" />
            </div>
            <div class="right">
                <div class="name-and-time">
                    <!-- flex -->
                    <div class="name"></div>
                    <div class="time"></div>
                </div>
                <div class="text"></div>
                <div class="actions">
                    <!-- flex -->
                    <div class="like-action">
                        <!-- flex -->
                        <img class="like-img" />
                        <div class="likes-number">18</div>
                    </div>
                    <div class="reply-action">Reply</div>
                </div>
            </div>
        </div>
    </body>
</html>
