<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <style>
        * {
            outline: 1px solid #000;
        }

        img {
            vertical-align: top;
        }

        button {
            font-family: inherit;
        }

        .small {
            width: 20px;
            height: 20px;
        }

        .parent {
            font-family: consolas;
        }
    </style>
    <body>
        <img
            src="https://www.meme-arsenal.com/memes/3f112c1daf4fc68cf356fb23235031a4.jpg"
            alt=""
        />
        <span> Lorem ipsum dolor sit </span>

        <div class="parent">
            <p>Text</p>
            <button>Click</button>
        </div>

        <p>
            Lorem
            <img
                class="small"
                src="https://www.meme-arsenal.com/memes/3f112c1daf4fc68cf356fb23235031a4.jpg"
            />
            ipsum dolor, sit amet <button>consectetur</button> adipisicing elit.
            Similique fugit aut voluptatum consectetur facilis? Voluptate
            aspernatur ipsa qui ut, recusandae et perferendis nam doloremque
            omnis accusamus accusantium magnam quia labore.
        </p>
    </body>
</html>
