@font-face {
    font-family: 'Playwrite PT Light';
    src: url(../../assets/fonts/Playwrite.woff2);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}
