.button {
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.success {
    background-color: green;
    color: white;
}

.danger {
    background-color: red;
    color: white;
}

.warning {
    background-color: yellow;
    color: black;
}
