* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1 {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid black;
    width: 600px;
    height: 300px;
}
.box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    border: 1px solid black;
    padding: 5px;

}
.box3 {
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 20%;

}
.box4 {
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 40%;
    margin: 10px 0px 10px 0px;
}
.box5 {
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 40%;
}
.box6 {
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
    width: 98%;
    height: 50%;
    margin-left: 10px;
}
.box7 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 35%;
    height: 90%;
    margin-left: 7px;
    margin-top: 7px;
}
.box8 {
    display: flex;
    border: 1px solid black;
    width: 65%;
    height: 300px;
    margin-left: 20px;
    margin-top: 7px;
}
.box9 {
    display: flex;
    border: 1px solid black;
    width: 55%;
    height: 300px;
    margin-left: 25px;
    margin-top: 7px;
    margin-bottom: 5px;
}
.box10 {
    display: flex;
    justify-content: flex-start;
    position: relative;
    border: 1px solid black;
    width: 59%;
    height: 90%;
    margin-left: 7px;
    margin-top: 7px;
}
.box11 {
    display: flex;
    border: 1px solid black;
    width: 22%;
    height: 107px;
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 5px;
}
.box12 {
    display: flex;
    border: 1px solid black;
    width: 67%;
    height: 50%;
    margin-left: 8px;
    margin-top: 7px;
    margin-bottom: 5px;
}
.box13 {
    display: flex;
    border: 1px solid black;
    width: 67%;
    height: 50%;
    margin: 10px 10px 10px 10px;
}
.box14 {
    display: flex;
    border: 1px solid black;
    width: 99%;
    height: 127px;
    margin-left: 7px;
    margin-top: 10px;
}
.box15 {
    display: flex;
    border: 1px solid black;
    width: 31%;
    height: 107px;
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 5px;
}
.box16 {
    display: flex;
    border: 1px solid black;
    width: 27%;
    height: 52px;
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 5px;
}
.box17 {
    display: flex;
    border: 1px solid black;
    width: 59%;
    height: 51px;
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 5px;
}
.box18 {
    display: flex;
    border: 1px solid black;
    width: 89%;
    height: 51px;
    margin-left: 7px;
    margin-top: 7px;
    margin-right: 5px

}
.boxInBox{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 58%;
}
.boxInBox2{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 10px;

}
.boxInBox3{
    display: flex;
    width: 100%;
    margin-left: 10px;
}
.boxColumn{
    display: flex;
    flex-direction: column;
    width: 64%;
    margin-left: 10px;
}
.label-container {
    display: flex;
    align-items: center;
    width: 200px;
}

.square {
    width: 49px;
    height: 50px;
    background-color: blue;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.label-text {
    font-size: 14px;
    margin-left: 5px;
}