.root {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #000;
}

.side {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
        border-right: 1px solid #000;
    }
}

.column {
    display: flex;
    flex-direction: column;
    /* gap: 12px; */
}

.column input[type='text'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.playground {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blur {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.styleBuffer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.json {
    margin-bottom: 24px;
}

.buttonCopy {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

    transition-duration: 0.2s;
}

.buttonCopy:hover {
    background-color: #b1d6f8;
}
